<style>
#weatherWidget .currentDesc {
	color: #ffffff !important;
}

.traffic-chart {
	min-height: 335px;
}

#flotPie1 {
	height: 150px;
}

#flotPie1 td {
	padding: 3px;
}

#flotPie1 table {
	top: 20px !important;
	right: -10px !important;
}

.chart-container {
	display: table;
	min-width: 270px;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
}

#flotLine5 {
	height: 105px;
}

#flotBarChart {
	height: 150px;
}

#cellPaiChart {
	height: 160px;
}

.right-panel {
	margin-left: 0px;
}

footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}

html {
	height: 100%;
}

.icon-logo {
	color: #17a2b8;
}
.small-device .right-panel {
  margin-left: 0px;
  height: 100%;
}
</style>